# Python
__pycache__/
*.pyc
venv/
env/
.env

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# Misc
*.log
.DS_Store
walkthrough.md